<h1><%= @dinosaur.name.capitalize %></h1>
<p>Group: <%= @dinosaur.group.capitalize %></p>
<p>Japanese: <%= @dinosaur.japanese %></p>
<i class="fa-solid fa-heart"></i>
<br>
<p><strong>Comments</strong></p>
<%= link_to "Add comment", new_dinosaur_comment_path(@dinosaur)  %>
<ul class="list-group">
  <% @dinosaur.comments.each do |comment| %>
    <li class="list-group-item">
      <%= comment.content %>
      <%= link_to "Delete",
    comment_path(comment),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
    </li>
  <% end %>
</ul>
<br>
<div>
  <%= link_to "Back to Dinosaurs", dinosaurs_path %> |
  <%= link_to "Edit this Dinosaur", edit_dinosaur_path(@dinosaur) %> |
  <%= link_to "Delete this Dinosaur",
dinosaur_path(@dinosaur),
data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></div>
